.speech_wrapper {
	position: relative;
	width: 780px;
	float: left;
	box-sizing: border-box;

	border-style: solid;
	border-width: 85px 85px 85px 85px;
	-moz-border-image: url(/img/ui/dialog-border.png) 85 85 85 85 round;
	-webkit-border-image: url(/img/ui/dialog-border.png) 85 85 85 85 round;
	-o-border-image: url(/img/ui/dialog-border.png) 85 85 85 85 round;
	border-image: url(/img/ui/dialog-border.png) 85 85 85 85 round;
}

#speech {
	margin-top: -20px;
	background-color: white;
	padding: 10px;
}